/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.link {
  color: #3F51B5;
  cursor: pointer;
}

.link:hover{
  text-decoration: underline;
}

.main-div{
  padding: 0;
}

.form{
  padding: 20px;
}

.main-div mat-card-footer{
  padding: 0 20px;
  text-align: center;
}